.queueActivity{
  font-size:1.7em;
  margin: 20px 0 0 0;
  padding: 0 1% 0 1%;
  border-bottom: 2px solid #929292;
  display:flex;
  justify-content: space-around;
}

.waittime{
  text-align: center;
}

.callswaiting{
  text-align: center;
}

p{
  padding:0;
  margin:0;
  font-size:0.5em;
}
