.queueActivity{
  font-size:1.7em;
  margin: 20px 0 0 0;
  padding: 0 1% 0 1%;
  border-bottom: 2px solid #929292
}

.waittime{
  display:inline-block;
}

.callswaiting{
  display:inline-block;
  width:50%;
}
