.queueActivity{
  font-size:1.7em;
  margin: 20px 0 0 0;
  padding: 0 1% 0 1%;
  border-bottom: 2px solid #929292;
  display:flex;
  justify-content: space-around;
}

.waittime{
  text-align: center;
}

.callswaiting{
  text-align: center;
}

p{
  padding:0;
  margin:0;
  font-size:0.5em;
}

.overtime{
  color:white;
  background-color:red;
  -webkit-animation: animOvertime 1s infinite;  /* Safari 4+ */
  -moz-animation: animOvertime 1s infinite;  /* Fx 5+ */
  -o-animation: animOvertime 1s infinite;  /* Opera 12+ */
  animation: animOvertime 1s infinite;  /* IE 10+, Fx 29+ */
}

@-webkit-keyframes animOvertime {
  0%, 49% {
    background-color: white;
    color: black;
  }
  50%, 100% {
    background-color: red;
    color:white;
  }
}