.agentlist{
    display:flex;
    flex-flow: wrap;
}

.agentlistitem{
    font-size: 1.5em;
    flex: 0 0 28%;
    padding: 1%;
    margin: 1%;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

.agentstatus{
    font-size:0.5em;
}

.available{
    color:white;
    background-color: green;
}

.oncall{
    color:white;
    background-color: blue;
}

.error{
    text-align: center;
    margin-top:10px;
    background-color:red;
    color:white;
    font-size: 4em;
    width: 100%;
}

.error p{
    margin:0;
    padding:0;
}
